<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaping.dao.mapper.PictureMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yaping.common.entity.Picture">
		<id column="id" property="id" />
		<result column="pictures_id" property="picturesId" />
		<result column="url" property="url" />
	</resultMap>

	<select id="selectUserList" resultType="com.yaping.common.entity.Picture">
		select p.id,p.pictures_id,p.url from picture p LEFT JOIN beautiful_pictures bp on p.pictures_id = bp.id
		${ew.sqlSegment}
		<!--<where>-->
			<!--<if test="cm.pictures_Id != null and cm.pictures_Id !='' ">-->
				<!--and pictures_id = ${cm.pictures_Id}-->
			<!--</if>-->
		<!--</where>-->
	</select>

</mapper>
