<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" />
    <script src="../js/index.js"></script>
</head>

<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
            <!--<small>Control panel</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->

        <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

        <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
                <!--<div class="box">-->
                    <!--<div class="box-header hide">-->
                        <!--<h3 class="box-title">调度列表</h3>-->
                    <!--</div>-->
                    <!--<div class="box-body" >-->
                        <!--&lt;!&ndash;<table id="job_list" class="table table-bordered table-striped">&ndash;&gt;-->
                            <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th name="id" >id</th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th name="picturesId" >picturesId</th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th name="url" >url</th>&ndash;&gt;-->
                                <!--&lt;!&ndash;<th>操作</th>&ndash;&gt;-->
                            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                            <!--&lt;!&ndash;</thead>&ndash;&gt;-->
                            <!--&lt;!&ndash;<tbody></tbody>&ndash;&gt;-->
                            <!--&lt;!&ndash;<tfoot></tfoot>&ndash;&gt;-->
                        <!--&lt;!&ndash;</table>&ndash;&gt;-->
                        <!--<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </section>
</div>


</section>
<!-- /.content -->
</div>

</div>
<!-- ./wrapper -->


</body>

</html>
