<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Dashboard</title>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css"/>
    <script src="../js/index.js"></script>
</head>

<!-- Content Wrapper. Contains page content -->
<div layout:fragment="content" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
            <!--<small>Control panel</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">User</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->

        <!--<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>-->

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header hide">
                        <h3 class="box-title">调度列表</h3>
                    </div>
                    <div class="box-body">

                        <!--<div class="layui-btn-group demoTable">-->
                            <!--<button class="layui-btn" data-type="getCheckData">获取选中行数据</button>-->
                            <!--<button class="layui-btn" data-type="getCheckLength">获取选中数目</button>-->
                            <!--<button class="layui-btn" data-type="isAll">验证是否全选</button>-->
                        <!--</div>-->
                        <div class="demoTable">
                            搜索ID：
                            <div class="layui-inline">
                                <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                            </div>
                            <button class="layui-btn" data-type="reload">搜索</button>
                        </div>
                        <table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>
                        <script type="text/html" id="op">
                            <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
                            <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
                        </script>
                        <script type="text/html" id="picturesImg">
                        <img src="{{d.url}}" />
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>


</section>
<!-- /.content -->
</div>

</div>
<!-- ./wrapper -->


</body>

</html>
